.phen-card-app #card-body {
    margin-top: 20px;
}

.phen-card-app #card-body h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 12.6px;
}

.phen-card-app #card-body h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12.6px;
}

.phen-card-app #card-body p {
    font-size: 14px;
    margin-bottom: 14px !important;
}

.phen-card-app #card-body ul {
    list-style-type: disc;
    padding-left: 25px;
    margin-bottom: 14px;
}

.phen-card-app #card-body li {
    font-size: 14px;
    margin-bottom: 7px;
}

.phen-card-app #card-body li a {
    color: #006998;
    overflow: hidden;
    overflow-wrap: break-word;
}

.phen-card-app #card-body li a:hover {
    text-decoration: underline;
}



