.latestNewsWrapper {
    margin-top: 21px !important;
}

.h2Title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 15px !important;
}

.liTag {
    margin-bottom: 14px !important;
    list-style-type: none;
}
.ulTag {
    padding-left: 0!important;
}
.newsLink {
    display: flex;
    margin-bottom: 14px;
}

.newsLink:hover {
    text-decoration: none;
}

.clockIcon {
    font-size: 15.4px;
    margin-right: 10.5px !important;
    margin-top: 4px !important;
}

.newsLink:hover .clockIcon {
    color: black;
}

.timeStampText {
    font-size: 13px;
    color: #777;
}

.h4Title {
    font-size: 14px;
    font-weight: 700;
    color: black;
    margin-bottom: 4px !important;
}

.h4Title:hover {
    text-decoration: underline;
}

.bodyText {
    font-size: 13px;
    color: black;
    margin-bottom: 4px !important;
}