.VotingLike_Wrapper {
  width: 43px;
  display: flex;
  align-items: center;
}
.likeAmount {
  margin-left: 4px;
}
.phen-card-app .ThumbUp_Btn {
  color: gray;
}

.phen-card-app .ThumbUp_Btn:hover {
  color: black;
}
.phen-card-app .ThumbUp_Btn.active {
  color: black;
}
