.phen-card-app {
    @tailwind base;
    @tailwind components;
    @tailwind utilities;
    
    color: #333;
    font-family: 'L10';
}

.phen-card-app .container, .phen-card-app .container-fullwidth,
.phen-card-app .container-fullwidth {
    @apply phen-card-tw-font-L10;
    min-width: unset;
    max-width: unset;

}
.phen-card-app a:not([href]):not([tabindex]) {
    color: unset;
}
.phen-card-app .inlineForThumbUpComponent {
    display: inline-block;
}

.phen-card-app .carousel-root .carousel-slider {
    overflow: unset;
}

.phen-card-app .carousel .control-dots .dot {
    background-color: black;
}

.phen-card-app .carousel .control-dots {
    position: absolute;
    top: -36px ;
    z-index: 999 ;
    text-align: right;
    pointer-events: none;
}

.phen-card-app .carousel-status {
    display: none;
}

.phen-card-app .carousel .slide {
    text-align: left;
    padding: 8px;
    cursor: pointer;
}

.phen-card-app .carousel .slide:hover a {
    cursor: pointer;
    text-decoration: none;
}

.phen-card-app .carousel .slide:hover h4 {
    text-decoration: underline;
    cursor: pointer;
    color: #333 !important;
}

.phen-card-app .carousel .slide:hover p {
    text-decoration: none;
}

.phen-card-app .mb_4 {
    margin-bottom: 10px
}

.phen-card-app .mb_5{
    margin-bottom: 12.6px;

}

.phen-card-app .pr_4 {
    padding-right: 10px;
}

.phen-card-app .pb_4 {
    padding-bottom: 10px;
}

.phen-card-app .pt_4 {
    padding-top: 10px;
}

.phen-card-app .pb_2 {
    padding-bottom: 5px;
}

.phen-card-app .pr_3 {
    padding-right: 7px;
}

.phen-card-app .border-w-0_5 {
    border-width: 0.5px
}

.phen-card-app .w_h_16 {
    width: 16px;
    height:16px;
}
