@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    font-size: 62.5%;
    color: #333;
    @apply font-L10;
}
.phen-card-app .container, .container-fullwidth,
.phen-card-app .container-fullwidth {
    min-width: unset;
    max-width: unset;

}
.phen-card-app a:not([href]):not([tabindex]) {
    color: unset;
}
.phen-card-app .inlineForThumbUpComponent {
    display: inline-block;
}

.phen-card-app .carousel-root .carousel-slider {
    overflow: unset;
}

.phen-card-app .carousel .control-dots .dot {
    background-color: black;
}

.phen-card-app .carousel .control-dots {
    position: absolute;
    top: -36px ;
    z-index: 999 ;
    text-align: right;
}

.phen-card-app .carousel-status {
    display: none;
}

.phen-card-app .carousel .slide {
    text-align: left;
    padding: 8px;
}

.phen-card-app .carousel .slide:hover a {
    cursor: pointer;
}

.phen-card-app .carousel .slide:hover h4 {
    text-decoration: underline;
    cursor: pointer;
}

.phen-card-app .carousel .slide:hover p {
    text-decoration: none;
}

.mb_4 {
    margin-bottom: 1rem
}

.mb_5{
    margin-bottom: 1.25rem;
}

.pr_4 {
    padding-right: 1rem;
}

.pb_4 {
    padding-bottom: 1rem;
}

.pt_4 {
    padding-top: 1rem;
}

.pb_2 {
    padding-bottom: 0.5rem;
}

.pr_3 {
    padding-right: 0.7rem;
}

.border-w-0_5 {
    border-width: 0.5px
}